<div class="header">
    <img src="assets/logo.png" alt="logo" class="logo">
    <div class="navButtons">
        <app-basic-button [text]="'Home'"></app-basic-button>
        <app-basic-button [text]="'About'"></app-basic-button>
        <app-basic-button [text]="'Features'"></app-basic-button>
        <app-basic-button [text]="'Blog'"></app-basic-button>
        <app-basic-button [text]="'Pricing'"></app-basic-button>
    </div>
    <div class="rightContent">
        <app-language-picker class="lngPick"></app-language-picker>
        <app-basic-button [text]="'Join Waiting List'"></app-basic-button>
        <app-round-button class="getAppBtn" [text]="'Get App'" [selected]="true" [filledColor]="'#0D5FE7'"></app-round-button>
    </div>
</div>