.footer{
    background-color: #1d2125;
    height: 100%;
    position: relative;
    margin-top: 30em;
}

.cel{
    width: 500px;
    position: absolute;
    right: 10em;
    top: -280px;
    transform: skewY(5deg);
}