<section class="second">
    <div class="square1"></div>
    <div class="square2"></div>
    <div class="square3"></div>

    <app-title [textTitle]="'Operating, Reserve, and \nVault accounts'" [position]="'center'"></app-title>

    <div class="cards">
        <app-vertical-card [type]="'Financial Advice'"
            [text]="'Barely half of banks\' own employees would recommend their international payment services to customers'"
            [author]="'Olivia Rhye'" [date]="'22 Jan 2022'" [maxTextChars]="101" [imgSrc]="'https://picsum.photos/350'"
            [scale]="1.58">
        </app-vertical-card>
        <app-vertical-card [type]="'Financial Advice'"
            [text]="'Barely half of banks\' own employees would recommend their international payment services to customers'"
            [author]="'Olivia Rhye'" [date]="'22 Jan 2022'" [maxTextChars]="101" [imgSrc]="'https://picsum.photos/300'"
            [scale]="1.58">
        </app-vertical-card>
        <app-vertical-card [type]="'Financial Advice'"
            [text]="'Barely half of banks\' own employees would recommend their international payment services to customers'"
            [author]="'Olivia Rhye'" [date]="'22 Jan 2022'" [maxTextChars]="101" [imgSrc]="'https://picsum.photos/50'"
            [scale]="1.58">
        </app-vertical-card>
    </div>
</section>