@use '@angular/material' as mat;

.header{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.logo{
    height: 40px;
    margin-block: 1rem;
    margin-inline-start: 4rem;
}

.navButtons{
    display: flex;
    gap: 2em;
}

.rightContent{
    display: flex;
    gap: 2em;
    margin-inline-end: 5rem;
}

.lngPick{
    align-content: center;
}